.authContainer {
  position: fixed;
  display: flex;
  right: 10px;
  top: 10px;
  padding: 0;
  width: 12rem;
  height: 80px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  right: 4rem;

  input {
    display: flex;
    border: none;
    width: 8rem;
    padding: 0.2rem;
    border-radius: 1rem;
    background: #f0e0bc;
    margin: 0.3rem;
    transition: 0.3s;
    text-align: center;

    &:focus {
      outline-color: #e8e8e8;
      background: #e8e8e8;
      box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
      transition: 0.3s;
    }
  }
}

.authBtn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: bold;
  position: fixed;
  right: 3rem;
  text-align: center;
  background-color: #e0a95d;
  color: #3b3016;
  transition: all 0.3s ease-out;
  padding: 4px 10px;

  border-radius: 1rem;
  cursor: pointer;
  &:active {
    transform: scale(0.99);
  }
  &:hover {
    scale: 1.05;
    transform: translate(1px, -1px);
  }
}

.list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.element {
  position: relative;
  right: 5rem;
  /* border: 1px white solid; */
  display: flex;
  align-items: center;
  /* pink color */
  height: 20px;
  color: #f6e6d3;
  gap: 10px;

  margin: 0px 4px 0px 4px;
  transition: all 0.3s ease-out;
  /* padding: 7px; */
  padding: 0px 4px 0px 8px;
  border-radius: 6px;
  /* cursor: pointer; */
  &:active {
    transform: scale(0.99);
  }
  /* &:hover {
    background-color: #000000;
    color: #ffffff;
    height: min-content;
    width: max-content;
    transform: translate(1px, -1px);
  } */

  svg {
    width: 19px;
    height: 19px;
    transition: all 0.3s ease-out;
  }

  .label {
    font-weight: 600;
    /* &:hover {
      color: #ffffff;
    } */
  }
}
