.contentTitle {
  color: #1b130e;
  opacity: 0.8;
  text-align: center;
}

.customersContainer {
  /* border: 1px solid red; */
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid red; */
  /* width: fit-content; */
  height: 80vh;
  width: 50vw;
  border-radius: 10px;

  margin-top: 100px;

  /* box-shadow: 2.8px 3px 1.2px -25px rgba(0, 0, 0, 0.008),
    6.7px 7.2px 2.9px -25px rgba(0, 0, 0, 0.012),
    12.5px 13.5px 5.4px -25px rgba(0, 0, 0, 0.015),
    22.3px 24.1px 9.6px -25px rgba(0, 0, 0, 0.018),
    41.8px 45.1px 18px -25px rgba(0, 0, 0, 0.022),
    100px 108px 43px -25px rgba(0, 0, 0, 0.03); */
}

.create {
  display: flex;
  align-items: center;
  position: relative;
  /* pink color */
  height: 40px;

  color: #685642;
  gap: 10px;
  transition: all 0.3s ease-out;
  padding: 4px 7px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;

  &:active {
    transform: scale(0.99);
  }
  &:hover {
    /* blue background activated when element is hovered */
    background-color: #303030;
    color: #f6e6d3;
    transform: translate(1px, -1px);
  }

  svg {
    width: 19px;
    height: 19px;
    transition: all 0.3s ease-out;
  }

  .label {
    font-weight: 600;
    &:hover {
      color: #f6e6d3;
    }
  }
}

/*

.container {
  display: block;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.newButton {
  background-color: #e0e0e0;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
  color: #4d4d4d;
  cursor: pointer;
  font-size: 18px;
  margin: 0.5rem;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(206, 206, 206);

  &:hover {
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff,
      2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
  }

  &:focus {
    outline: none;
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff,
      2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
  }
}

.label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

.input,
.label {
  margin: 0.4rem 0;
}
*/
