.newsContainer {
  position: relative;
  top: 1rem;
  /* left: 50%; */
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  flex-direction: column;
  width: 50%;
  /* border: 1px solid green; */
  /* margin: 1rem; */
  padding: 1rem;
  @media (max-width: 1501px) {
    width: 50%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}
.newsContainerAdmin {
  width: 35%;

  @media (max-width: 1501px) {
    width: 40%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.create {
  display: flex;
  align-items: center;
  position: relative;
  /* pink color */
  height: 40px;
  color: #685642;
  gap: 10px;
  transition: all 0.3s ease-out;
  padding: 4px 7px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;

  &:active {
    transform: scale(0.99);
  }
  &:hover {
    /* blue background activated when element is hovered */
    background-color: #303030;
    color: #ffffff;
    transform: translate(1px, -1px);
  }

  svg {
    width: 19px;
    height: 19px;
    transition: all 0.3s ease-out;
  }

  .label {
    font-weight: 600;
    &:hover {
      color: #ffffff;
    }
  }
}
