.post {
  position: relative;
  /* top: 10vh; */
  margin: 0.2rem 0;
  padding: 5px;
  width: 50rem;
  height: 100%;
  background-color: #f6e6d3;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  animation: animate-in 1s ease-out forwards;
  a {
    text-decoration: none;
  }
}

.title {
  font-size: 0.8rem;
  font-weight: bold;
  color: #1b130e;

  margin: 0;
  text-transform: uppercase;
}

.content {
  padding: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 1.25rem;
  margin: 0.25rem 0 0 0;
  color: #1b130e;
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
